#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# For integers and doubles:
#       Name                    Type      Reconfiguration level
#       Description
#       Default  Min  Max


gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)
gen.add("fill_polygons", bool_t, 0, "Whether to fill polygon cells or not", True)
gen.add("passing_left", bool_t, 0, "Whether to pass left or not(right)", True)

exit(gen.generate("decision_layer_namespace", "decision_layer_namespace", "DecisionLayer"))
